/* Write your global styles here, in PostCSS syntax */
html,
body {
    @apply h-full overflow-hidden;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
}
